.grid_container {
    display: grid;
    grid-template-areas:
        'header header'
        'main right'
        'footer footer';
    grid-gap: 10px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.right_menu {
    grid-area: right;
}